    /* MAIN */


body {
    display: flex;
    flex-direction: row;
    font-family: Lato, sans-serif;
    color: #4E342E
}
body section:nth-child(1) {
    width: 30%;
}
body section:nth-child(2) {
    width: 70%;
}
body
{
    margin: 0;
}
ul 
{
    list-style-type: '-';
    margin-left:0;
    padding-left:0;
}



/* HEADER RIGHT AND LEFT */


.contenu_right header
{
    text-align: left;
    width: 80%;
    margin-bottom: 30px;
}
.contenu_left header
{
    display: none;
}
h1 {
    width: 80%;
    font-size: 42px;
    text-transform: uppercase;
    color: black;
}
h1 span {
    color: #FFC107;
}
strong {
    font-size: 25px;
    text-align: left;
    width: 80%;
}
strong span {
    border-bottom: 2px solid  #FFC107;
}

/* LEFT SECTION */

.contenu_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #FFC107;
}
.contenu_left article:nth-of-type(1) {
    height: 190px;
    width: 100%;
}
.contenu_left article:nth-of-type(2) {
    height: 350px;
    width: 100%;
    word-wrap:break-word;
}
.contenu_left article:nth-of-type(3) {
    flex: 1;
    width: 100%;
}
.contenu_left article:nth-of-type(4) {
    height: 200px;
    width: 100%;
}
img {
    border-radius: 150px / 150px;
}
.Photo {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 15px;
    padding: 15px;
    width: 100%;
}
.Contact p
{
    font-weight: bold;
}
.Apropos p
{
    text-align: justify;
}
.Loisirs p
{
    text-align: center;
}

.Loisirs_icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contenu_left h2
{
    color:  #FFC107;
    background-color: #4E342E;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    vertical-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contenu_left p
{
    margin: 5px 20px ;
    padding: 5px 20px;
}
.Photo h2
{
    display: none;
}
.Contact h2
{
    width: 100%;
}


/* RIGHT SECTION */

.contenu_right {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

/* RIGHT MAIN */

.Experience {
    width: 80%;
}
.E1 {
    display: flex;
    flex-direction: row;
}
.E2 {
    display: flex;
    flex-direction: row;
}
.E3 {
    display: flex;
    flex-direction: row;
}
.E1 div:nth-of-type(1) {
    flex: 1;
    padding-right: 10px;
}
.E2 div:nth-of-type(1) {
    flex: 1;
    padding-right: 10px;
}
.E3 div:nth-of-type(1) {
    flex: 1;
    padding-right: 10px;
}
.E1 div:nth-of-type(2) {
    flex: 2;
    padding-left: 10px;
}
.E2 div:nth-of-type(2) {
    flex: 2;
    padding-left: 10px;
}
.E3 div:nth-of-type(2) {
    flex: 2;
    padding-left: 10px;
}

.Competences {
    width: 80%;
}
.Formation {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.F1 {
    display: flex;
    flex-direction: row;
}
.F2 {
    display: flex;
    flex-direction: row;
}
.F3 {
    display: flex;
    flex-direction: row;
}
.F1 div:nth-of-type(1) {
    flex: 1;
    padding-right: 10px;
}
.F2 div:nth-of-type(1) {
    flex: 1;
    padding-right: 10px;
}
.F3 div:nth-of-type(1) {
    flex: 1;
    padding-right: 10px;
}
.F1 div:nth-of-type(2) {
    flex: 2;
    padding-left: 10px;
}
.F2 div:nth-of-type(2) {
    flex: 2;
    padding-left: 10px;
}
.F3 div:nth-of-type(2) {
    flex: 2;
    padding-left: 10px;
}
.Recommandations
{
    width: 80%;
}
.Recommandations_info 
{
    display: flex;
    flex-direction: row;
}
.Recommandations_info div:nth-of-type(1) {
    flex: 1;
}
.Recommandations_info div:nth-of-type(2) {
    flex: 1;
}
.contenu_right h2 {
    color: black;
    background-color: white;
    border-bottom: 2px solid  #FFC107;
    text-align: left;
    width: 100%;
    vertical-align: center;
    text-transform: uppercase
}
.contenu_right h3 {
    text-transform: uppercase;
}
h3 + p {
    font-size: 17px;
}
h4  {
    margin-bottom: 0;
}
h4 + p {
    font-weight: bold;
    margin-top: 0;
    margin-left: 25px;
}